{% extends 'base.html' %}
{% block content %}
<div class="page">
	<div class="page-title blue">
		<h3>
			System Identity		</h3>
		<p>Information About
			System Identity		</p>
	   
	</div>
	<div class="page-content container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					
					<div class="panel-body container-fluid">
						
<form action="{% url 'makeover' %}" method="post" enctype="multipart/form-data" id="exampleStandardForm" autocomplete="off">

	<input type="hidden" name="identitas_id" value="1" />
	<div class="form-group form-material">
		<label class="control-label" for="inputText">Website Name</label>
		<input type="text" class="form-control input-sm" id="website" name="website" placeholder="Enter Website Name"
		value="WMS PHP" required />
	</div>
	<div class="form-group form-material">
		<label class="control-label" for="inputText">Website Description</label>
		<input type="text" class="form-control input-sm" id="description" name="description" placeholder="Enter Website Description"
		value="Warehouse Management System " required />
	</div>
	<div class="form-group form-material">
		<label class="control-label" for="inputText">Keyword Website</label>
		<input type="text" class="form-control input-sm" id="keyword" name="keyword" placeholder="Enter Keyword Website"
		value="Warehouse Management System " required />
	</div>
	<div class="form-group form-material">
		<label class="control-label" for="inputText">Email Website</label>
		<input type="text" class="form-control input-sm" id="i_email" name="i_email" placeholder="Enter Email Website"
		value="wms@gmail.com" required />
	</div>
	<div class="form-group form-material">
		<label class="control-label" for="inputText">Facebook URL</label>
		<input type="text" class="form-control input-sm" id="fb" name="fb" placeholder="Enter Facebook URL"
		value="https://www.facebook.com/wms" required />
	</div>
	<div class="form-group form-material">
		<label class="control-label" for="inputText">Twitter URL</label>
		<input type="text" class="form-control input-sm" id="tw" name="tw" placeholder="Enter Twitter URL"
		value="https://twitter.com/wms" required />
	</div>
	<div class="form-group form-material">
		<label class="control-label" for="inputText">Google Plus URL</label>
		<input type="text" class="form-control input-sm" id="gp" name="gp" placeholder="Enter Google Plus URL"
		value="http://wms.com/" required />
	</div>
	<div class="form-group form-material">
		<label class="control-label" for="inputText">Youtube</label>
		<input type="text" class="form-control input-sm" id="yb" name="yb" placeholder="Enter Channel Link"
		value="https://www.youtube.com/wms" required />
	</div>
	<div class='button center'>
		<input class="btn btn-success btn-sm" type="submit" name="simpan" value="Add Data" id="validateButton2">
	</div>

</form>						
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>

<script>
	(function (document, window, $) {
		'use strict';
		var Site = window.Site;
		$(document).ready(function ($) {
			Site.run();
		});

		(function () {
			$('#exampleStandardForm').formValidation({
				framework: "bootstrap",
				button: {
					selector: '#validateButton2',
					disabled: 'disabled'
				},
				icon: null,
			});
		})();

		(function () {
			$('.summary-errors').hide()
		})();
	})(document, window, jQuery);
</script>

{% endblock %}	