{% extends 'base.html' %}
{% block content %}
<div class="page">
	<div class="page-title blue">
		<h3>
			System Identity		</h3>
		<p>Information About
			System Identity		</p>
	   
	</div>
	<div class="page-content container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="panel">
					
					<div class="panel-body container-fluid">
						
<form action="" method="post">


</form>						
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
{% endblock %}	